<p id="notice"><%= notice %></p>
<div class="headContent">
  <h1>Nueva Temporada</h1>
</div>
<div class="box">
<p>
  <b>Especie:</b>
  <%= (Kind.all(:select => "name", :conditions => ["id = ?",@season.kind_id]))[0].name %>
 </p>

<p>
  <b>Fecha de Inicio:</b>
  <%= @season.init_date.strftime("%d/%m/%Y") %>
</p>


</div>
<div class="foot-box">
  <%= link_to 'Volver', seasons_path , :class => "button blue alignright" %>
</div>