<p id="notice"><%= notice %></p>

<p>
  <b>Temperature:</b>
  <%= @stabilization_chamber_io.temperature %>
</p>


<%= link_to 'Edit', edit_stabilization_chamber_io_path(@stabilization_chamber_io) %> |
<%= link_to 'Back', stabilization_chamber_ios_path %>
