<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @destination_port.name %>
</p>


<%= link_to 'Edit', edit_destination_port_path(@destination_port) %> |
<%= link_to 'Back', destination_ports_path %>
