<script type="text/javascript">

$(document).ready(function() {

//Accion por defecto
$(".tab_content").hide(); 
$("ul.tabs li:first").addClass("active").show(); 
$(".tab_content:first").show(); 

//evento (onClick)
$("ul.tabs li").click(function() {
$("ul.tabs li").removeClass("active"); 
$(this).addClass("active"); 
$(".tab_content").hide(); 
var activeTab = $(this).find("a").attr("href");
$(activeTab).fadeIn(); 
return false;
});
botonesDisabled();
});

function botonesDisabled(){ //inicializar los botones como deshabilitados
    //boton1
    var bt1 = document.getElementById("boton1");
    var pd1 = document.getElementById("Productores1");
    var selPd1 = pd1.options[pd1.selectedIndex].value;
    if(selPd1 == "") {
     bt1.disabled = true; 
    }
    else {
     bt1.setAttribute('class',"button blue") ;
    }
    //boton2
    var bt2 = document.getElementById("boton2");
    var pd2 = document.getElementById("Productores2");
    var selPd2 = pd2.options[pd2.selectedIndex].value;
    if(selPd2 == "")  { 
      bt2.disabled = true; 
    }
    else { 
      bt2.setAttribute('class',"button blue") ;
    }
  }

</script>


<!--Contenido  Reportes-->
<div class="headContent">
  <h1>Informes Packing</h1>
</div>

   <ul class="tabs">
       <li><a href="#tab1">Movimiento de bandejas por productor</a></li>
       <li><a href="#tab2">Productos por productor</a></li>
   </ul>
 

   <div class="tab_container">

       <!--Movimiento de bandejas por productor-->
       <div id="tab1" class="tab_content">

          <div class="contentSubPanel">
              <div class="headContent">
                  <h1>Generar Informe: Movimiento de bandejas por productor</h1>
              </div>
              <div class="box">
              
                 <%= render 'form1' %>  
                  
              </div>
          </div>

       </div>

       <!--Productos por productor-->
       <div id="tab2" class="tab_content">

          <div class="contentSubPanel">
              <div class="headContent">
                  <h1>Generar Informe: Productos por productor</h1>
              </div>
              <div class="box">

                 <%= render 'form2' %>                                 	
           
              </div>
          </div>

       </div>

   </div>

