<p id="notice"><%= notice %></p>
<div class="headContent">
  <h1>Ver Pallet</h1>
</div>
<div class="box">
<%= link_to 'Volver', custom_agents_path , :class => "button blue alignright" %>
<p>
  <b>Name:</b>
  <%= @custom_agent.name %>
</p>

</div>
<div class="foot-box">
  <%= link_to 'Editar', edit_custom_agent_path(@custom_agent) , :class => "button green alignright" %>
</div>

