<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @packing_process.name %>
</p>


<%= link_to 'Edit', edit_packing_process_path(@packing_process) %> |
<%= link_to 'Back', packing_processes_path %>
