<p id="notice"><%= notice %></p>
<div class="headContent">
  <h1>Ver Agrupación</h1>
</div>
<div class="box">
<%= link_to 'Volver', agrupations_path , :class => "button blue alignright" %>
<p>
  <b>Name:</b>
  <%= @quality.name %>
</p>
</div>
<div class="foot-box">
	<%= link_to 'Editar', edit_agrupation_path(@agrupation) , :class => "button green alignright" %>
</div>