<p id="notice"><%= notice %></p>
<div class="headContent">
  <h1>Ver Calidad</h1>
</div>
<div class="box">
<%= link_to 'Volver', quality_path , :class => "button blue alignright" %>
<p>
  <b>Nombre:</b>
  <%= @quality.name %>
</p>
</div>
<div class="foot-box">
	<%= link_to 'Editar', edit_quality_path(@quality) , :class => "button green alignright" %>
</div>