<% if current_user.super_admin == true %>
	<div class="headContent">
	  <h1>Error</h1>
	</div>
	<div class="box">
	<%=(wt 'There is no such page', :default => 'No existe esta p치gina. Quieres <a href="%{new_url}">crearla</a>?', :new_url => wiki_page_new_path ).html_safe %>  
	</div>
	<div class="foot-box">
		<%= link_to( wt( 'P치gina principal Ayuda' ), "/wiki", :class => "button blue alignleft")%>
	</div>
<% else %>
	<div class="headContent">
	<h1>Error</h1>
	</div>
	<div class="box">
	<%=wt 'P치gina no encontrada' %>
	</div>
	<div class="foot-box">
	<%= link_to( wt( 'P치gina principal Ayuda' ), "/wiki", :class => "button blue alignleft")%>
	</div>
<% end %>