<div class="headContent">
  <h1><%=h @page.title %></h1>
</div>
<div class="box">
	<%= wiki_page_info %>
	<%=wiki_content @page.content %>
</div>
<div class="foot-box">
	<%= wiki_page_actions %>
</div>