<script type="text/javascript">

$(document).ready(function() {

//Accion por defecto
$(".tab_content").hide(); 
$("ul.tabs li:first").addClass("active").show(); 
$(".tab_content:first").show(); 

//evento (onClick)
$("ul.tabs li").click(function() {
$("ul.tabs li").removeClass("active"); 
$(this).addClass("active"); 
$(".tab_content").hide(); 
var activeTab = $(this).find("a").attr("href");
$(activeTab).fadeIn(); 
return false;
});

});
</script>



<div class="headContent">
  <h1>Envases vacios</h1>
</div>

   <ul class="tabs">
       <li><a href="#tab1">Productor</a></li>
       <li><a href="#tab2">Destino</a></li>
      
   </ul>
 

   <div class="tab_container">

       <!--Precio por Productor-->
       <div id="tab1" class="tab_content">

          <div class="contentSubPanel">
              <div class="headContent">
                <h1>Cuenta corriente productor</h1>
              </div>
              <div class="box">
              
                 <%= render 'form1' %>  
                  
              </div>
          </div>

       </div>

       
       <div id="tab2" class="tab_content">

          <div class="contentSubPanel">
              <div class="headContent">
                <h1>Cuenta corriente destino</h1>
              </div>
              <div class="box">

                 <%= render 'form2' %>                                 	
           
              </div>
          </div>

       </div>
    </div>   
