
#loginBox {
	margin: 0px;
	width: 400px;
	height: 350px;
	background: ;
	border-style:solid;
	margin-left: 31%;
}

#loginBox h1 {
	margin: 0px;
	padding-top: 40px;
	
}

#loginBox p {
	color: red;
}

.loginClass {
	padding-left: 5%;

}

#loginButton {
	margin-top: 20px;
	margin-left: 40%;
}
