<%= form_tag  do %>

                        <div class="line-forme">
                           <div class="forme-lab">
	                          <%= label_tag 'Destinos' %> 
	                       </div>
	                       <% @kinds_array = Kind.all.map { |kind| [kind.name, kind.id] } %>
	                       <div class="forme-in">
                              <%= select_tag "Destinos7", options_for_select(@kinds_array), :prompt => "Todos los Destinos" %>
                           </div>                        
                        </div>
                        <%= submit_tag "Generar Informe", :class => "button blue alignleft" %>
<% end %> 