<!--Destinos-->
<%= form_tag  do %>
  <input type="hidden" value="7" name="report_type"></input>
      <div class="line-forme">
         <div class="forme-lab">
           <%= label_tag 'Destinos' %> 
        </div>
        <% @destinations_array = Destination.where(:company_id => current_user.company_id).map { |destination| [destination.name, destination.id] } %>
        <div class="forme-in">
            <%= select_tag "Destinos7", options_for_select(@destinations_array), :prompt => "Todos los Destinos" %>
         </div>                        
      </div>
      <%= submit_tag "Generar Informe", :class => "button blue alignleft" %>
<% end %> 