<!--Productores-->
<%= form_tag  do %>
<input type="hidden" value="6" name="report_type"></input>
   <div class="line-forme">
      <div class="forme-lab">
        <%= label_tag 'Productores' %> 
     </div>
     <% @destinations_array = Destination.where(:company_id => current_user.company_id).map { |destination| [destination.name, destination.id] } %>
     <div class="forme-in">
         <%= select_tag "Productores6", options_for_select(@producers_array), :prompt => "Todos los Productores"  %>
      </div>                        
   </div>
   <%= submit_tag "Generar Informe", :class => "button blue alignleft" %>
                       
<% end %> 